<div class="task">
    <p><strong>Name:</strong> <%= link_to task.name, task_path(task) %></p>
    <p><strong>Due Date:</strong> <%= task.due_date %></p>
    <p><strong>Priority:</strong> <%= task.priority %></p>
</div>