<% title "Tasks" %>

<% @tasks.each do |task| %>
    <div class="task">
        Name: <%= task.name %>
        Due Date: <%= task.due_date %>
        Priority: <%= task.priority %>
    </div>
<% end %>