// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.task {
    border: thin solid #000;
    border-radius: 5px;
    box-shadow: 3px 3px 3px rgba(0,0,0,0.5);
    margin: 10px 0;
}